## Turn on rewrite engine
RewriteEngine on

## Force WWW
RewriteCond %{HTTP_HOST} ^mysolutions4you.herokuapp\.com [NC]
RewriteRule ^(.*)$ http://mysolutions4you.herokuapp.com/$1 [L,R=301,NC]

## Force HTTPS
RewriteCond %{HTTPS} !on
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

## Remove trialing slash
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)/$ http://mysolutions4you.herokuapp.com/$1 [L,R=301]