{% load static%}


<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{title}}</title>
    <link rel="icon" type="image/icon" href="{% static 'images\logo.jpg' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" href="{% static 'css/codeforces.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-site-verification" content="fP-ZUFafbOhcuRuOXyHbPhrxE2eNZzH8j2wXnSDOoHI" />
        <meta name="description"
        content="{{meta}} solutions in c, solutions in c++ , solutions in python java">
    <!-- update the version number as needed -->
    <script defer src="/__/firebase/7.10.0/firebase-app.js"></script>
    <!-- include only the Firebase features as you need -->
    <script defer src="/__/firebase/7.10.0/firebase-auth.js"></script>
    <script defer src="/__/firebase/7.10.0/firebase-database.js"></script>
    <script defer src="/__/firebase/7.10.0/firebase-messaging.js"></script>
    <script defer src="/__/firebase/7.10.0/firebase-storage.js"></script>
    <!-- initialize the SDK after all desired features are loaded -->
    <script defer src="/__/firebase/init.js"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <script data-ad-client="ca-pub-6614834939916976" async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>



</head>

<body style="background-image: url('{% static 'images/p_back.jpg' %}');">
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous"
        src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v6.0"></script>
    <div>
        <div class="header">
            <div class="progress-container">
                <div class="progress-bar" id="myBar"></div>
            </div>
        </div>
        <div class="col1">


        </div>
        <div class="col2">

            <nav class="navbar navbar-inverse" style="background-color: rgb(28, 4, 44); margin-bottom: 0px;">
                <div class="container-fluid">
                    <div class="navbar-header">
                        <a class="navbar-brand" href="http://mysolutions4you.herokuapp.com/"><img src="{% static 'images/mylogo.png' %}"
                                alt="My Solutions4You" width="200px"></a>
                    </div>
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="http://mysolutions4you.herokuapp.com/">Home</a></li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Solved
                                Programing<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="codeforces">Codesforces Solutions</a></li>
                                <li><a href="uri">URI Solutions</a></li>
                                <li><a href="uva">UVA Solutions</a></li>
                                <li><a href="hackerrank">Hacker Rank Solutions</a></li>
                                <li><a href="loj">Light OJ Solutions</a></li>
                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">Programing
                                Languages<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="c">C </a></li>
                                <li><a href="cpp">C++</a></li>
                                <li><a href="java">Java</a></li>
                                <li><a href="python">Python</a></li>
                                <li><a href="kotlin">Kotlin</a></li>
                                <li><a href="html">HTML</a></li>
                                <li><a href="css">CSS</a></li>
                                <li><a href="js">Java Script</a></li>

                            </ul>
                        </li>
                        <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#">CSE
                                Subjects<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="datastructure">Data Structure</a></li>
                                <li><a href="algorithms">Algorithms</a></li>
                                <li><a href="database">Database</a></li>
                                <li><a href="computerarchitecture">Computer Architecture</a></li>
                                <li><a href="computernetwork">Computer Network</a></li>
                                <li><a href="computergraphics">Computer Graphics</a></li>
                                <li><a href="artificialintelligence">Artificial Interligence</a></li>
                                <li><a href="operatingsystem">Operating System</a></li>

                            </ul>
                        </li>
                        <li><a href="qa">Q&A</a></li>
                        <li><a href="mathematics">Mathematics</a></li>
                        <li><a href="compiler">Compiler</a></li>


                    </ul>
                </div>
                <script async src="https://cse.google.com/cse.js?cx=30bb54a8ad35c4c9e"></script>
                <div class="gcse-search"></div>
            </nav>


        {% block index %}

        {% endblock %}

        {% block ojpb %}

        {% endblock %}

        {% block ojsol %}

        {% endblock %}
       
        
        <div class="footer">
            <h3 align="center" style="color: aliceblue;">My Solutions4You</h3>
            <p style="color: antiquewhite;">Questions, references, and examples are constantly reviewed to avoid errors,
                but
                we cannot warrant full correctness of all content. While using this site, you
                agree to have read and accepted our terms of use, cookie and privacy policy. Copyright 2019-2022 by
                Refsnes
                Data. All Rights Reserved.</p>

            <h4 align="center" style="color: aqua;">mysolutions4you.herokuapp.com</h4><br>
            <h4 style="color: beige;">Visit pages:</h4>
        </div>
        <div class="fdiv">
            <li><a href="http://mysolutions4you.herokuapp.com/" style="color: beige;">Home page</a></li>
            <li><a href="codeforces" style="color: beige;">Codesforces Solutions</a></li>
            <li><a href="uri" style="color: beige;">URI Solutions</a></li>
            <li><a href="uva" style="color: beige;">UVA Solutions</a></li>
            <li><a href="hackerrank" style="color: beige;">Hacker Rank Solutions</a></li>
            <li><a href="loj" style="color: beige;">Light OJ Solutions</a></li>
            <li><a href="qa" style="color: beige;">Q&A</a></li>
            <li><a href="mathematics" style="color: beige;">Mathematics</a></li>

        </div>
        <div class="fdiv">
            <li><a href="c" style="color: beige;">C </a></li>
            <li><a href="cpp" style="color: beige;">C++</a></li>
            <li><a href="java" style="color: beige;">Java</a></li>
            <li><a href="python" style="color: beige;">Python</a></li>
            <li><a href="kotlin" style="color: beige;">Kotlin</a></li>
            <li><a href="html" style="color: beige;">HTML</a></li>
            <li><a href="css" style="color: beige;">CSS</a></li>
            <li><a href="js" style="color: beige;">Java Script</a></li>
        </div>
        <div class="fdiv">
            <li><a href="datastructure" style="color: beige;">Data Structure</a></li>
            <li><a href="algorithms" style="color: beige;">Algorithms</a></li>
            <li><a href="database" style="color: beige;">Database</a></li>
            <li><a href="computerarchitecture" style="color: beige;">Computer Architecture</a></li>
            <li><a href="computernetwork" style="color: beige;">Computer Network</a></li>
            <li><a href="computergraphics" style="color: beige;">Computer Graphics</a></li>
            <li><a href="artificialintelligence" style="color: beige;">Artificial Interligence</a></li>
            <li><a href="operatingsystem" style="color: beige;">Operating System</a></li>

        </div>
    </div>
    </div>
    </div>
    <div class="col3">

    </div>
    </div>
   
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>

</body>

</html>