<!DOCTYPE html>
<html>
    <head>
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <style>
            div.fixed {
                position: fixed;
                bottom: 0;
                right: 0;
                width: 100%;
                border: 3px solid #73AD21;
              }
        </style>

    </head>
<body bgcolor="black">
<div align="center">
<p style="color: white;font-size:50px">Total Internet User Count Live</p>
<iframe  src="https://www.internetlivestats.com/internet-users#pageband" width="25%" height="130" style="border:1px solid black;zoom: 0.5;" scrolling="no">
</iframe>

</div>
<br><br>
<div id="count">
    <i class="fas fa-male" style="font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;margin:2px"></i>
</div>
<div style="background-color: chartreuse;" class="fixed">
    <marquee><img src="https://linkpicture.com/q/cooltext364669681937680.png" height="50px" width="50px" style="margin-top: 10px;"><h1 style="display: inline-block;">Please Subscribe My Channel ***</h1><img src="https://linkpicture.com/q/cooltext364669681937680.png" height="50px" width="50px" style="margin-top: 10px;"><h1 style="display: inline-block;">Please Subscribe My Channel ****</h1></marquee>

</div>
    
<script>
    var cnt=1;
    function count(){
        cnt++;
        document.getElementById('count').innerHTML+="<i class=\"fas fa-male\" style=\"font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;margin:2px;\"></i>"
        if(cnt==280){
            cnt=0;
            document.getElementById('count').innerHTML="<i class=\"fas fa-male\" style=\"font-size:60px;color:lightblue;text-shadow:2px 2px 4px #000000;margin:2px;\"></i>"
        }
    }
    $(document).ready(function(){
        myVar = setInterval("count()", 100);
    });
</script>
</body>
</html>

