{% extends 'base.html'%}

{% block ojsol%}

{% for s in sol %}

<div>
    <h3 class="heading1">{{s.category}}</h3>
    <h3 class="text1"><b>{{s.title}}</b></h3>
    <hr class="new2">
    <p style="padding-left: 5px; color: blue;"><b>Post Date:</b> {{s.date}}</p>
    <div class="postdiv2">
        <p><b>Problem Link:</b> <a href="{{s.link}}" target="_blank">{{s.title}}</a></p>
        <br>
        <p><b>Explaination:</b>{{s.explaination}} </p>
        <br>
        <pre class="codesnipet">{{s.code}}
                         
</pre>
    </div>
</div>
<div class="postsdiv">
    <h4 style="color: blue;">Related Posts</h4>
    {% for s in sol_rel %}
    <div class="col4">
        <a href="{% url 'ojsolution' %}?id={{s.title}}"><p><b>{{s.title}}</b></p>
        <p>{{s.link}}{{s.explaination}}{{s.code}}</p></a>
        
    </div>

    {% endfor %}

     


</div>

<div class="fb-comments" data-href="https://mysolutions4you.herokuapp.com/{{s.title}}" data-width="100%"
    data-numposts="10"></div>

{% endfor %}

{% endblock%}