{% load static%}

<!DOCTYPE html>
<html>
<body style="background-image: url('{% static 'images/p_back.jpg' %}');">
<div align="center">
    <h1 style="color: white;">World's Current Popilation Live</h1>
<iframe sandbox="allow-scripts" src="https://www.worldometers.info/world-population#maincounter-wrap" width="800" height="500" style="border:1px solid black;" scrolling="no">
</iframe>
<iframe sandbox="allow-scripts" src="https://www.worldometers.info/world-population#top20" width="400" height="500" style="border:1px solid black;" scrolling="no" >
</iframe>
</div>
<div style="background-color: chartreuse;">
    <marquee><img src="https://linkpicture.com/q/cooltext364669681937680.png" height="50px" width="50px" style="margin-top: 10px;"><h1 style="display: inline-block;">Please Subscribe My Channel ***</h1><img src="https://linkpicture.com/q/cooltext364669681937680.png" height="50px" width="50px" style="margin-top: 10px;"><h1 style="display: inline-block;">Please Subscribe My Channel ****</h1></marquee>

</div>
    
</audio>

</body>
</html>

